POSTGRES_DB=my_fitness
POSTGRES_USER=my_fitness
POSTGRES_PASSWORD=my_fitness
POSTGRES_PORT=5432

DB_URL=jdbc:postgresql://localhost:5432/my_fitness
DB_USERNAME=my_fitness
DB_PASSWORD=my_fitness
SERVER_PORT=8080
